.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.infoLabel {
  font-size: 15px;
  color: #8a8a8a;
  margin: 6px 5px;
}

.infoInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  /* outline: 1px solid rgba(205, 209, 238, 0.92); */
  background-color: #ededed;
  border: 0px solid;
  color: rgb(68, 64, 64);
}

.infoInput:focus {
  outline: none;
}

.title {
  color: #2B3674;
  font-weight: 600;
}

.container {
  margin: 30px 40px;
  width: 60%;
}

.textSpan2 {
  cursor: pointer;
  font-size: 13px;
  color: rgb(75, 75, 235);
  font-weight: bold;
}

.faIcon {
  margin-left: -30px;
  color: grey;
}